.idTabs {
  background: #333333;
  color:#111;
  padding:15px 20px;
  width:960px;
  border:1px solid #222;
  margin:8px auto;
}
.idTabs li { list-style:none; float:left; }
.idTabs ul a {
  display:block;
  padding:6px 10px;
  text-decoration:none!important;
  margin:1px;
  margin-left:0;
  font:10px Verdana;
  color:#FFF;
  background:#555555;
}
.idTabs ul a:hover {
  color:#FFF;
  background:#888888;
  }
.idTabs ul a.selected {
  margin-bottom:0;
  color:#000;
  background:snow;
  border-bottom:1px solid snow;
  cursor:default;
  }
.idTabs div {
  padding:10px 10px 8px 10px;
  *padding-top:3px;
  *margin-top:-15px;
  clear:left;
  background:snow;
  font:10pt Georgia;
}
.idTabs div a { color:#000; font-weight:bold; }
